{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{- ( site.Params.schema.publisherType | default "Organization") | title -}}",
  "name": {{ site.Title }},
  "url": {{ site.Home.Permalink }},
  "description": {{ site.Params.description | plainify | truncate 180 | safeHTML }},
  {{- if (eq site.Params.schema.publisherType "Person") }}
  "image": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }},
  {{- else }}
  "logo": {{ site.Params.assets.favicon | default "favicon.ico" | absURL }},
  {{- end }}
  "sameAs": [
    {{- if site.Params.schema.sameAs }}
      {{ range $i, $e := site.Params.schema.sameAs }}{{ if $i }}, {{ end }}{{ trim $e " " }}{{ end }}
    {{- else}}
      {{ range $i, $e := site.Params.SocialIcons }}{{ if $i }}, {{ end }}{{ trim $e.url " " | safeURL }}{{ end }}
    {{- end}}
  ]
}
</script>
{{- else if (or .IsPage .IsSection) }}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/")}}

{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}

    {{- $scratch.Add "path" (printf "%s/" $element ) | safeJS }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (and $index)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index  }},
      "name": {{ $bc_pg.Name }},
      "item": {{ $bc_pg.Permalink | safeHTML }}
    }
    {{- end }}

  {{- end }}
  {{- if (ge (len $bc_list) 2) }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{len $bc_list}},
      "name": {{ .Name }},
      "item": {{ .Permalink | safeHTML }}
    }
  ]
}
</script>
{{- if .IsPage }}
{{- $socialImagePath := "" -}}
{{- if .IsPage -}}
  {{- with .Params.socialImage -}}
    {{- $socialImagePath = . -}}
  {{- else -}}
    {{- with .File -}}
      {{- $languageCandidate := printf "images/og-posts/%s.%s.png" .TranslationBaseName $.Lang -}}
      {{- $logicalCandidate := printf "images/og-posts/%s.png" (strings.TrimSuffix ".md" .LogicalName) -}}
      {{- $baseCandidate := printf "images/og-posts/%s.png" .BaseFileName -}}
      {{- if fileExists (printf "static/%s" $languageCandidate) -}}
        {{- $socialImagePath = $languageCandidate -}}
      {{- else if fileExists (printf "static/%s" $logicalCandidate) -}}
        {{- $socialImagePath = $logicalCandidate -}}
      {{- else if fileExists (printf "static/%s" $baseCandidate) -}}
        {{- $socialImagePath = $baseCandidate -}}
      {{- end -}}
    {{- end -}}
{{- end -}}
{{- end -}}
{{- $keywords := slice -}}
{{- with .Params.keywords -}}
  {{- $keywords = . -}}
{{- else -}}
  {{- $keywords = union (.Params.tags | default (slice)) (.Params.categories | default (slice)) -}}
{{- end -}}
{{- $articleSections := .Params.categories | default (slice) -}}
{{- $authorURL := site.Params.authorURL | default site.Home.Permalink -}}
{{- $publisherName := site.Params.author | default site.Title -}}
{{- $publisherType := (site.Params.schema.publisherType | default "Organization") | title -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify | jsonify | safeJS }},
  "name": {{ .Title | plainify | jsonify | safeJS }},
  "description": {{ with .Description | plainify }}{{ . | jsonify | safeJS }}{{ else }}{{ .Summary | plainify | jsonify | safeJS }}{{ end -}},
  "keywords": {{ $keywords | jsonify | safeJS }},
  "articleBody": {{ .Content | safeJS | htmlUnescape | plainify }},
  "wordCount": {{ .WordCount }},
  "articleSection": {{ $articleSections | jsonify | safeJS }},
  "inLanguage": {{ .Language.Lang | default "en-us" | jsonify | safeJS }},
  {{ if $socialImagePath -}}
  "image": {{ $socialImagePath | absURL | jsonify | safeJS }},
  {{ else if .Params.cover.image -}}
  "image":
    {{- if (ne .Params.cover.relative true) -}}
    {{ .Params.cover.image | absURL | jsonify | safeJS }},
    {{- else -}}
    {{ (path.Join .RelPermalink .Params.cover.image ) | absURL | jsonify | safeJS }},
    {{- end}}
  {{- else }}
    {{- $images := partial "templates/_funcs/get-page-images" . -}}
    {{- with index $images 0 -}}
  "image": {{ .Permalink | jsonify | safeJS }},
    {{- end }}
  {{- end -}}
  "datePublished": {{ .PublishDate | jsonify | safeJS }},
  "dateModified": {{ .Lastmod | jsonify | safeJS }},
  {{- $authors := (.Params.author | default site.Params.author) }}
  "author":
    {{- if (or (eq (printf "%T" $authors) "[]string") (eq (printf "%T" $authors) "[]interface {}")) -}}
  [{{- range $i, $v := $authors -}}
  {{- if $i }}, {{end -}}
  {
    "@type": "Person",
    "name": {{ $v | jsonify | safeJS }},
    "url": {{ $authorURL | jsonify | safeJS }}
  }
  {{- end }}],
    {{- else -}}
  {
    "@type": "Person",
    "name": {{ $authors | jsonify | safeJS }},
    "url": {{ $authorURL | jsonify | safeJS }}
  },
    {{- end -}}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify | safeJS }}
  },
  {{- if eq $publisherType "Person" }}
  "publisher": {
    "@type": "Person",
    "name": {{ $publisherName | jsonify | safeJS }},
    "url": {{ $authorURL | jsonify | safeJS }},
    "image": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify | safeJS }}
  }
  {{- else }}
  "publisher": {
    "@type": {{ $publisherType | jsonify | safeJS }},
    "name": {{ $publisherName | jsonify | safeJS }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.assets.favicon | default "favicon.ico" | absURL | jsonify | safeJS }}
    }
  }
  {{- end }}
}
</script>
{{- end }}

{{- end -}}
